#calendar_container {
  min-height: calc(100vh - 60px - 60px) !important;
  display: flex;
  align-items: center;
  flex-flow: column;
}

table { 
  margin-top: 1em;
  width: 50%;
  border-collapse: collapse; 
}

#activities_container{
  width: 50%;
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center;
  flex-flow: row;
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

#checkbox_cell{
  width: 50px;
}
.activity_card{
  margin: 1em !important;
}

@media (orientation: portrait) {
  table { 
    margin-top: 1em;
    width: 90% !important;
    border-collapse: collapse; 
  }
  #activities_container{
    margin-top: .1em !important;
    width: 100% !important;
    flex-flow: column !important;
  }
  .activity_card{
    width: 90% !important;
    align-self: center !important;
    justify-self: center !important;
  }
}
