#footer{
    height: 60px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#footer_logo{
    width: 60px;
    padding: 1em;
}

@media (orientation: portrait) {
    #footer{
        font-size: 10px !important;
        flex-wrap: nowrap;
        text-align: center;
    }
    #footer_logo{
        width: 60px !important;
    }
}